* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popinns", sans-serif;
}

body {
    background-color: #0d1117;
    height: 100vh;
}

/* Cabeçalho  */
.interface {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #b74b4b;
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #b74b4b;
}


header {
    padding: 20px 4%;
    box-shadow: 0 0 10px #fff;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    color: #8b949e;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: white;
    transform: scale(1.05);
}

header ul li {
    display: inline-block;
    padding: 0 20px;
}



/* Titulo e Função  */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section.topo-do-site h1 span {
    color: #b74b4b;
}

.topo-do-site h1 {
    color: white;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site h3 {
    color: #8b949e;
    font-size: 19px;
    margin: 40px 0px;
}

/* .topo-do-site p {
    color: #8b949e;
    font-size: 14px;
    margin: 40px 0px;
} */


.texto-escrito span {
    position: relative;
    color: #b74b4b;
}

/* animação de escrever  */

.texto-escrito span::before {
    content: 'Desenvolvedor Web';
    color: #b74b4b;
    animation: words 15s infinite;
}

.texto-escrito span::after {
    content: '';
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #0d1117;
    border-left: 3px solid #b74b4b;
    right: -8px;
    animation: cursor 0.7s infinite, typing 15s steps(15) infinite
}

@keyframes cursor {
    to {
        border-left-color: transparent;
    }
}

@keyframes words {
    0%, 20% {
        content: 'Desenvolvedor Web';
    }
    25%, 45% {
        content: 'Designer UI/UX';
    }

    75%, 95% {
        content: 'Freelancer';
    }
}

@keyframes typing {
    0%, 5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 100% {
        width: calc(100% + 8px);
    }
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
}

.topo-do-site .img-topo-site {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{top: 0;}
    100% {top: 30px;}
}

/* Seção de especialidades  */
section.especialidades {
    padding: 120px 0;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 40px;
    transition: 0.2s;
    background-color: #0d1117;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 18px #b74b4b;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: grey;
    transition: .2s;
}


.especialidades .especialidades-box:hover i{
    color: #b74b4b; 
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}


section.sobre {
    padding: 120px 0;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: white;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
}

.sobre .txt-sobre h2 span {
    color: #b74b4b;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
    color: #8b949e;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #b74b4b;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 8px;
    transition: 0.2s ease;
}

.sobre .txt-sobre .btn-social button:hover {
    box-shadow: 0 0 12px #fff;
    transform: scale(1.1);
}

section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.112);
}

section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    margin: 0 18px;
    background-size: cover;
    background-position: 100% 0;
    position: relative;
    transition: 2s;
    cursor: pointer;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.408);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    transition: .5s;
}



section.formulario {
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #161b22;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 15px;
    text-align: center;
}

form .btn-enviar input {
    width: 200px;
    color: white;
    background-color: #b74b4b;
    font-weight: 700;
     transition: 0.2s ease-in-out;
} 

form .btn-enviar input:hover{
    cursor: pointer;
    box-shadow: 0 0 8px #fff;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #8b949e;
}

/* Responsividade  */
@media (max-width: 1000px) {
    .topo-do-site  {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .topo-do-site .flex {
        flex-direction: column;
        margin: 5rem 8rem;
        text-align: center;
    }

    .interface {
        align-items: center;
    }

    .topo-do-site .flex h1 {
        font-size: 3rem;
    }

    section.especialidades .flex {
        flex-direction: column;
        align-items: center;
        padding: 80px;
    }

    section.sobre .flex {
        flex-direction: column;
        text-align: center;
        margin: 70px;
    }
}